body {
  background-color: rgb(29, 27, 26);
}
.App {
  background-color: rgb(111, 124, 153);
  margin: 40px auto;
  min-height: 500px;
  width: 400px;
  border-radius: 10px;
  padding: 10px 0px;
}

#to-do-form input {
  background-color: rgb(102, 102, 102);
  border: 0;
  height: 50px;
  margin: 20px 15px 40px 20px;
  padding: 10px;
  width: 300px;
  font-size: 18px;
  border-radius: 10px;
  color: rgb(199, 196, 196);
}
#to-do-form input::placeholder {
  color: rgb(199, 196, 196);
  text-align: center;
}
#to-do-form input:focus,
#to-do-form button:focus {
  outline: none;
}

#to-do-form button {
  position: relative;
  background-color: rgb(111, 124, 153);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: aliceblue;
}
